! OVERALL
Xft.dpi:                192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! SOLARIZED LIGHT

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base3
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

! XTERM
xterm*visualBell:         off
XTerm*utf8: 1

XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex [[:alpha:]]+://([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

! How many lines are saved when scrolling
XTerm*SaveLines: 9000

! Use clipboard for everything
XTerm*selectToClipboard: true

! ctrl +/-/= change font size
xterm*translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)

! ctrl shift c/v copy and paste, the first line to copy to both primary and clipboard
XTerm*translations: #override \
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

! For xtermcontrol to work
*VT100.allowWindowOps: true
*VT100.allowTitleOps: true
*VT100.allowFontOps: true

! Default truefont
XTerm*faceName: xft:PragmataPro Mono:size=6:antialias=true:autohint=false

! Default bitmap fonts
XTerm*font:  -*-terminus-*-*-*-32-*-*-*-*-*-iso10646-1
XTerm*font1: -*-terminus-*-*-*-12-*-*-*-*-*-iso10646-1
XTerm*font2: -*-terminus-*-*-*-14-*-*-*-*-*-iso10646-1
XTerm*font3: -*-terminus-*-*-*-16-*-*-*-*-*-iso10646-1
XTerm*font4: -*-terminus-*-*-*-22-*-*-*-*-*-iso10646-1
XTerm*font5: -*-terminus-*-*-*-24-*-*-*-*-*-iso10646-1
XTerm*font6: -*-terminus-*-*-*-32-*-*-*-*-*-iso10646-1

! Enable sixel graphics from https://codeberg.org/coffee/sixel-experiments
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256
xterm*sixelScrolling: true
xterm*sixelScrollsRight: true
XTerm*regisScreenSize: 1920x1080
!XTerm*disallowedWindowOps: 1,2,3,4,5,6,7,8,9,11,13,19,20,21,GetSelection,SetSelection,SetWinLines,SetXprop
